.table-row-uzavreno {
  background-color: #e1ffcd;
}
.table-row-neuzavreno {
  background-color: #fffcbc;
}

.table-row-vyfa {
  background-color: #ffdab8;
}
.table-row-nevyfa {
  background-color: #fffcbc;
}
