#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

#login {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-layout {
  height: 100vh;
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.crm-input,
.crm-input-value {
  width: 200px;
}

.crm-input-ico {
  width: 100px;
}

.crm-textarea {
  width: 400px;
}

.crm-input-ico::-webkit-inner-spin-button,
.crm-input-ico::-webkit-outer-spin-button,
.crm-input-value::-webkit-inner-spin-button,
.crm-input-value::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.space-crm-detail {
  display: flex;
  align-items: flex-start;
}

.crm-checkbox {
  margin-bottom: 0px;
}

.canvas {
  min-height: 100vh;
}

.ant-layout-sider-children {
  background-color: #fff;
}

.ant-alert {
  margin-bottom: 20px;
}

.loading {
  margin-left: auto;
  text-align: center;
}

.header-menu {
  display: flex;
  justify-content: flex-start;
}

.logo-svg {
  width: 150px;
  margin-right: 50px;
}

.user-status-name {
  margin-left: 10px;
  color: white;
}

.user-info-box {
  padding: 0px 10px;
  text-align: center;
}
.user-info-box:hover {
  background-color: #1890ff;
  cursor: pointer;
}

#contact-list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#charts {
  display: flex;
  flex-direction: row;
}

#leftChart {
  width: 60%;
}
#rightChart {
  width: 40%;
}
